@font-face {
    font-family: mario kart ds ;
    src: url(mariods.ttf);
  }

  li{
font-family: sans-serif;
font-weight:bolder
align:center;
  }

a{

    align:center;
}

h1{
font-family: mario kart ds;
}